# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.idea
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
.project
.classpath

.idea/modules.xml
.idea/modules.xml
flutter/fctconnect/.dart_tool/package_config.json
.idea/modules.xml
java&html/Firstwebapp.iml
.idea/modules.xml
flutter/fctconnect/.dart_tool/package_config.json
flutter/fctconnect/.dart_tool/package_config_subset
flutter/fctconnect/.dart_tool/version
flutter/fctconnect/.flutter-plugins
flutter/fctconnect/android/local.properties
flutter/fctconnect/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
flutter/fctconnect/windows/flutter/ephemeral/.plugin_symlinks/path_provider_windows
java&html/Firstwebapp.iml
flutter/fctconnect/windows/flutter/ephemeral/.plugin_symlinks/path_provider_windows
flutter/fctconnect/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
flutter/fctconnect/android/local.properties
